/*WILDCARD STYLES*/
* {
    /*Overwriting browser defaults*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**********GENERAL STYLES**********/
header {
    background-color: rgba(134, 134, 212, 0.6);
    padding: 10px;
}

body {
    background: url("../images/NightStars.webp") no-repeat center center/cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    min-height: 100vh;
}

dialog {
    background-color: rgba(134, 134, 212, 0.6);
    color: #EEEEEE;
}

dialog::backdrop {
    background-color: rgba(50, 50, 50, 0.7);
}

h1, h2, h3, h4, p {
    color: #EEEEEE;
}

.button-area {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(134, 134, 212, 0.6);
}

.history-area {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    flex-grow: 1;
    background-color: rgba(134, 134, 212, 0.6);
}

#pull-1-button,
#pull-10-button {
    width: 40%;
    padding: 2rem;
    margin: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid #000000;
}

#pull-1-button:hover,
#pull-10-button:hover {
    background-color: #000000;
    color: #FFFFFF;
}

#reset-button {
    width: 75%;
    padding: 1rem;
    margin: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #000000;
}

#reset-button:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #FF0000;
}

.normal-result,
.rare-result,
.ultra-result {
    width: 37px;
    height: 37px;
    margin: 5px;
    border: 1px solid #FFFFFF;
    display: inline-block;
}

.normal-result {
    background-color: green;
}

.rare-result {
    background-color: rgb(128, 0, 128);
    box-shadow: rgba(128, 0, 128, 0.8) 0 0 5px 5px;
}

.ultra-result {
    background-color: rgba(255, 215, 0);
    box-shadow: rgb(255, 215, 0, 0.8) 0 0 5px 5px;
}


/**********FOOTER STYLES***********/
footer {
    width: 100%;
    margin-top: auto;
    padding: 0;
    background-color: rgba(134, 134, 212, 0.6);
}

footer a {
    font-size: 50px;
    color: #000000;
}

/**********MEDIA QUERIES**********/
/*Landscape Phones*/
@media screen and (min-width: 576px) {

    .normal-result,
    .rare-result,
    .ultra-result {
        width: 33px;
        height: 33px;
        margin: 5px;
        border: 1px solid #FFFFFF;
        display: inline-block;
    }
    
    #pull-1-button,
    #pull-10-button {
        width: 45%;
        padding: 2rem;
        margin: 10px;
        font-size: 2rem;
        border-radius: 10px;
        border: 2px solid #000000;
    }
    
    .reset-button {
        width: 20%;
        padding: 1rem;
        margin: 10px;
        font-size: 2rem;
    }
}

/*Tablets*/
@media screen and (min-width: 768px) {
    .normal-result,
    .rare-result,
    .ultra-result {
        width: 35px;
        height: 35px;
        margin: 10px;
        border: 1px solid #FFFFFF;
        display: inline-block;
    }
}

/*Laptops*/
@media screen and (min-width: 992px) {
    .normal-result,
    .rare-result,
    .ultra-result {
        width: 55px;
        height: 55px;
        margin: 10px;
        border: 1px solid #FFFFFF;
        display: inline-block;
    }
}

/*Desktops*/
@media screen and (min-width: 1200px) {
    .normal-result,
    .rare-result,
    .ultra-result {
        width: 60px;
        height: 60px;
        margin: 15px;
        border: 1px solid #FFFFFF;
        display: inline-block;
    }
    
}