/*WILDCARD STYLES*/
* {
    /*Overwriting browser defaults*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**********GENERAL STYLES**********/
header {
    background-color: rgba(134, 134, 212, 0.6);
    padding: 10px;
}

body {
    background: url("../images/night-stars.webp") no-repeat center center/cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    min-height: 100vh;
}

/*styling dialog boxes to be similar to the divs*/
dialog {
    background-color: rgba(134, 134, 212, 0.6);
    color: #EEEEEE;
    margin: auto;
    padding: 10px;
    border: black solid 5px;
}

dialog::backdrop {
    background-color: rgba(50, 50, 50, 0.7);
}

h1, h2, h3, h4, p {
    color: #EEEEEE;
}

/*Div to act as a splashscreen containing rules for the game
the rest of the game is hidden until user starts*/
#intro-area {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(134, 134, 212, 0.6);
    display: flex;
    flex-direction: column;
}

/*Button in the above #intro-area, hides div and displays the
2 divs below*/
#start-button {
    width: 80%;
    padding: 2rem;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid #000000;
}

#popup-button {
    width: 40%;
    height: 20%;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #000000;
}

/*Div containing buttons and remaining rolls left to user*/
#button-area {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(134, 134, 212, 0.6);
    display: none;
}

/*Div containing users rolls and rest button*/
#history-area {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    flex-grow: 1;
    background-color: rgba(134, 134, 212, 0.6);
    display: none;
}

/*Buttons used to roll in the game*/
#pull-1-button,
#pull-10-button {
    width: 70%;
    padding: 1rem;
    margin: 5px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid #000000;
}

/*Hover styling for above buttons*/
#pull-1-button:hover,
#pull-10-button:hover,
#start-button:hover {
    background-color: #000000;
    color: #FFFFFF;
}

/*Inverse style button to reset progress of the game*/
#reset-button {
    width: 75%;
    padding: 1rem;
    margin: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #000000;
}

/*Hover styling for above button*/
#reset-button:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #FF0000;
}

/*Size and shape of all results*/
.normal-result,
.rare-result,
.ultra-result {
    width: 37px;
    height: 37px;
    margin: 5px;
    border: 1px solid #FFFFFF;
    display: inline-block;
}

/*Colour for Normal Rolls*/
.normal-result {
    background-color: rgba(0, 128, 0);
    box-shadow: rgba(0, 128, 0, 0.8) 0 0 2.5px 2.5px;
}

/*Colour and Glow for Rare Rolls*/
.rare-result {
    background-color: rgb(128, 0, 128);
    box-shadow: rgba(128, 0, 128, 0.8) 0 0 5px 5px;
}

/*Colour and Glow for Ultra Rare Rolls*/
.ultra-result {
    background-color: rgba(255, 215, 0);
    box-shadow: rgb(255, 215, 0, 0.8) 0 0 10px 10px;
}

/**********FOOTER STYLES***********/
footer {
    width: 100%;
    margin-top: auto;
    padding: 0;
    background-color: rgba(134, 134, 212, 0.6);
}

footer a {
    font-size: 50px;
    color: #000000;
}

/**********MEDIA QUERIES**********/
/*Landscape Phones*/
@media screen and (min-width: 576px) {

    .normal-result,
    .rare-result,
    .ultra-result {
        width: 33px;
        height: 33px;
        margin: 5px;
    }
    
    #pull-1-button,
    #pull-10-button {
        width: 45%;
        padding: 2rem;
        margin: 10px;
        font-size: 2rem;
    }
    
    .reset-button {
        width: 20%;
        padding: 1rem;
        margin: 10px;
        font-size: 2rem;
    }
}

/*Tablets*/
@media screen and (min-width: 768px) {
    .normal-result,
    .rare-result,
    .ultra-result {
        width: 35px;
        height: 35px;
        margin: 10px;
    }

    /*Colour for Normal Rolls*/
    .normal-result {
        box-shadow: rgba(0, 128, 0, 0.8) 0 0 5px 5px;
    }

    /*Colour and Glow for Rare Rolls*/
    .rare-result {
        box-shadow: rgba(128, 0, 128, 0.8) 0 0 7.5px 7.5px;
    }

    #intro-area {
        width: 70%;
    }

    #start-button {
        width: 60%;
    }
}

/*Laptops*/
@media screen and (min-width: 992px) {
    .normal-result,
    .rare-result,
    .ultra-result {
        width: 55px;
        height: 55px;
        margin: 10px;
    }

    #intro-area {
        width: 50%;
    }

    #start-button {
        width: 50%;
    }
}

/*Desktops*/
@media screen and (min-width: 1200px) {
    .normal-result,
    .rare-result,
    .ultra-result {
        width: 60px;
        height: 60px;
        margin: 15px;
    }
}